{% extends 'base.html.twig' %}
{% block metadescription %}Mentions légales{% endblock %}
{% block title %} | Mentions légales{% endblock %}
{% block body %}
{% for imageback in background %}
<div class="d-block w-100 pb-5" style="background-image:url('{{ vich_uploader_asset(imageback, 'imageUpload') }}')" border="0" alt="... ">
{% endfor %}
{% if mentionslegales %}
<div class="my-5" id="mentionslegales"></div>
<br>
<hr class="separateur separator--line mt-5">
<h1 class="titre mt-5 mb-5">MENTIONS LEGALES</h1>
<hr class="separateur separator--line mb-5">
<div class="container py-4">
    <p>{{mentionslegales.description|raw}}</p>
</div>
</div>
{% endif %}
{% endblock %}